[submodule ".vim/bundle/dracula"]
	path = .vim/bundle/dracula
	url = git@github.com:dracula/vim.git
[submodule ".vim/bundle/lightline.vim"]
	path = .vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule ".vim/bundle/ale"]
	path = .vim/bundle/ale
	url = https://github.com/dense-analysis/ale.git
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule ".vim/bundle/vimtex"]
	path = .vim/bundle/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule ".vim/bundle/vim-latex-live-preview"]
	path = .vim/bundle/vim-latex-live-preview
	url = https://github.com/xuhdev/vim-latex-live-preview.git
[submodule ".vim/bundle/vim-multiple-cursors"]
	path = .vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
